<div class="modal">
    <div class="modal-overlay"></div>
    <div class="modal-container">
        <div class="modal-header">
            <span class="close" title="Close Window">
                <p>Close Window</p>
            </span>
        </div>
        <div class="modal-main">
            <div class="form-container">
                <label for="inp-1">Username</label>
                <input id="inp-1" type="text" required />
            </div>
            <div class="form-container">
                <label for="inp-2">Password</label>
                <input id="inp-2" type="text" required />
            </div>
        </div>
        <div class="modal-footer">
            <a asp-action="" class="btn btn-success" title="Continue">Continue</a>
            <a asp-action="" class="btn btn-reject" title="Cancel">Cancel</a>
        </div>
    </div>
</div>